<!-- about -->
<div>

    <h2 class="kd title">Expansions Timeline</h2>

    <p>
    Expansions are organized according to the version of <i>Monster</i> that
    was current when they were initially released. Within a version, content
    is organized in chronological order according to the date it was released.
    </p>


    <div
        class="kd worksheet_block"
        ng-repeat="version in kingdomDeath.versions"
        ng-init-"version.expansionsCount = 0"
        title="
            {a version.released.$date|date: 'yyyy-MM' a} -
            {a version.eol.$date|date: 'yyyy-MM' a}
        "
    >
        <div
            class="kd worksheet_block_title"
            ng-init="sortedExpansions = sortObjectsByDate(kingdomDeath.expansions, 'released')"
        >
            {a version.name a}
        </div>

        <div class="kd worksheet_row lined">
            {a version.released_summary a}: {a version.version_string a}
        </div>

        <div
            ng-repeat="expansion in sortedExpansions"
            ng-init="version.expansionsCount = versions.expansionsCount + 1"
            class="clickable kd worksheet_row lined"
            ng-if="
                expansion.sub_type !== 'pseudo' &&
                expansion.released.$date > version.released.$date &&
                expansion.released.$date < version.eol.$date 
            "
        >
            <div class="kd checkbox"
                ng-if="
                    expansion.ui.pretty_category !== 'Nemesis' &&
                    expansion.ui.pretty_category !== 'White Box'
                "
            >
            </div>
            <div
                class="kdm_manager_font"
                ng-if="expansion.ui.pretty_category === 'Nemesis'"
            >
                N
            </div>
            <div
                class="kdm_manager_font"
                ng-if="expansion.ui.pretty_category === 'White Box'"
            >
                b
            </div>


            <div class="font_small">
                {a expansion.released.$date|date: "yyyy-MM" a}
            </div>
            <div class="font_small kd checkbox_desc">
                <b>{a expansion.name a}</b> - {a expansion.ui.pretty_category a}

                <div>
                    <!-- beta gear -->
                    <span
                        ng-if="expansion.beta_gear.length > 0"
                    >
                        <b>&beta;</b>: {a expansion.beta_gear.length a}
                    </span>
                    <!-- pattern gear -->
                    <span
                        ng-if="expansion.pattern_gear.length > 0"
                    >
                        <font class="kdm_manager_font">p</font>: {a expansion.pattern_gear.length a}
                    </span>
                    
                    <!-- strain milestones -->
                    <span
                        ng-if="expansion.strain_milestones.length > 0"
                    >
                        <span class="kdm_manager_font">s</span>: {a expansion.strain_milestones.length a}
                    </span>
                </div>



            </div> <!-- desc -->

        </div> <!-- expansion repeater -->


    </div> <!-- worksheet block -->

</div> <!-- almanac timeline -->
