/*          */
/*  fonts   */
/*          */

@font-face {
    font-family: 'Silverado';
    src: url('/static/fonts/329BC2_0_0.eot');
    src: url('/static/fonts/329BC2_0_0.eot?#iefix')
        format('embedded-opentype'), url('/static/fonts/329BC2_0_0.woff2') format('woff2'),
        url('/static/fonts/329BC2_0_0.woff') format('woff'),
        url('/static/fonts/329BC2_0_0.ttf') format('truetype');
}


/*              */
/*  CSS reset   */
/*              */

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    font-weight: bold;
    margin: 0 auto;
    text-decoration: none;
}

button {
    background-color: inherit;
    border: 0;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
}

noscript {
    background-color: #CC0000;
    border: 0.2em solid #fff;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    padding: 1%;
    text-align: center;
}


/*

    HTML
    - body
    -- container
    --- content divs

*/



/*  spinners/loaders    */
.spinner {
    border: 0;
}
.tiny_loader img {
    height: 1rem;
}


/*  body    */

body.login {
    align-items: center;
    background: var(--color-kd-black-gradient);
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
}
body.login div.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*  container   */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: min-content;
}


/*  content divs    */

/*  splash/titles   */

.login_splash {
    font-weight: normal;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
h1.login_splash {
    margin-top: 6rem;
}
h2.login_splash {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.login_version_tag {
    font-size: var(--font-small);
    position: absolute;
    right: 3%;
    top: 3%;
}
.login_subhead {
    font-weight: normal;
    text-align: center;
    width: 75%;
}


/*  sign in controls    */

button.sign_up {
    bottom: 2%;
    left: 3%;
    position: fixed;
}
button.help {
    bottom: 2%;
    position: fixed;
    right: 3%;
}

.user_inputs {
    margin: 0 auto;
    margin-bottom: 25%;
    margin-top: 25%;
    padding: 0;
    text-align: center;
    width: 80%;
}

input {
    background-color: #000;
    box-sizing: border-box; 
    color: #fff;
    font-family: 'Silverado';
    margin: 0 auto;
    margin-bottom: 5%;
    padding-left: 5%;
    width: 95%;
}
input,
    button.submit {
    border: 0;
    border-radius: 10vw;
    padding: 3%;
}

button.submit {
    width: 100%;
}

.login_label {
    margin: -1rem auto auto 1.5rem;
    position: absolute;
}
.login_lantern_loader img {
    margin: 1rem;
}
.login_downtime_warning {
    margin: 1rem 0 1rem 0;
    width: 75%;
}
.login_field_error {
    margin: -1rem 0 0 0;
    text-align: center;
}
.login_inputs_container {
    
    margin-top: 3rem;
    width: 75%;
}
.login_inputs_container input[type="submit"] {
    margin: 2rem auto auto auto;
    width: -webkit-fill-available;
}
.login_inputs_container input[type="email"],
.login_inputs_container input[type="text"],
    .login_inputs_container input[type="password"] {
    border: 0;
    font-family: 'Silverado';
    font-size: var(--font-large);
    margin: 0 0 1rem 0;
    padding-left: 1rem;
    text-align: left;
}
.login_remember_me {
    display: flex;
}
.login_remember_me label {
    width: 100%; 
}
.login_remember_me input[type="checkbox"]{
    height: 2rem;
    margin: auto;
}
.login_about_p {
    text-align: left;
    width: 90%;
}

/*  footer  */
.login_footer_container {
    display: flex;
    flex-wrap: nowrap;
    margin: auto 1rem 1rem 1rem;
    width: 90%;
}
.login_footer_container * {
    text-align: center;
    width: 100%; 
}



.modal {
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.modal p.disclaimer {
    text-align: left;
}
.modal_message {
    margin: 0 auto;
    margin-bottom: 3%;
    text-align: center;
    width: 90%;
}
.api_alert {
    font-size: 250%;
    left: 3%;
    padding: 2%;
    position: absolute;
    right: 3%;
    top: 3%;
}




/*  hide bottom buttons if keyboard is displayed */

@media only screen
    and (max-device-height: 400px)
    {

    html {height: auto; }
    button.sign_up,
        button.help {
        display: none;
    }

}

/* tablet style */

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    input, button.submit {width: 55%; }
    button.submit {width: 60%; }

    body.login div.container {
        width: 75%;
    }

    .user_inputs {margin-bottom: auto; }

    .modal p {margin: 0 auto; width: 70%; }
    .modal p.disclaimer {margin-bottom: 3%; }
}


/* wide style */

@media only screen and (min-width: 1050px) and (orientation: landscape) {

    input,
        button.submit {
        width: 35%;
    }

    body.login div.container {
        height: 70%;
        width: 40%;
    }

    button.submit {
        margin: 0 auto;
        width: 40%;
    }

    .spinner {
        height: auto;
        margin: 0 auto;
    }

    .user_inputs {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        max-width: 800px;
     }

    .modal {justify-content: center; }
    .modal p {margin-bottom: 4%; }

    .modal_message {
        display: flex;
        flex-direction: column;
        width: 50%;
     }
    .modal_message input {width: 60%; }
    .modal_message button {width: 65%; }
}
