<div
	id="settlementSheetAdminTab"
    class="view_tab"
    ng-show='tabsObject.activeTab === 6'
    ng-init="
        loadSettlementMacros();
    "
>
	<div class="kd worksheet_block">

        <div class="kd worksheet_block_title">
            Version
        </div>

        <p ng-if="currentUser.preferences.show_ui_tips">
            Change the version of <i>Monster</i> game assets and rules that
            are used by this settlement.
        </p>
        <p ng-if="currentUser.preferences.show_ui_tips">
            Changing this <b>will not</b> alter settlement or survivor data!
        </p>
        <select
            class="kd capsule yellow full_width"
            ng-disabled="
                currentUser.subscriber.level < 2
                && currentUser.preferences.beta !== 'True'
            "
            ng-model="settlement.sheet.version"
            ng-options="
                version.handle as version.version + ' - ' + version.released_summary for version in settlement.game_assets.versions
            "
            ng-change="
                postJSONtoAPI(
                    'settlement', 'set_version', settlement.sheet._id.$oid,
                    {'version': settlement.sheet.version},
                    false, true, false
                );
            "
            ng-selected="settlement.sheet.version"
        >
        </select>

    </div> <!-- set version -->

    <!-- settlement players/admins -->
    <div
        class="kd worksheet_block"
    >
        <div class="kd worksheet_block_title">
            Players
        </div>

        <p ng-if="currentUser.preferences.show_ui_tips">
            Any player can add new players to the settlement by updating the
            email address on any Survivor Sheet belonging to the settlement.
        </p>

        <div
            ng-repeat="player in settlement.user_assets.players"
            ng-if="!player.settlement_admin"
            ng-click="ngShow('playerAdmin' + player._id.$oid)"
            class="clickable kd worksheet_row"
        >
            <div class="kd checkbox checked"></div>
            <div class="kd checkbox_desc">
                {a player.login a}
            </div>
        </div>

        <p
            ng-if="
                currentUser.preferences.show_ui_tips &&
                currentUser.friends.length > 0;
            "
        >
            If you are already friends with another
            user of the Manager, you may add them using the buttons below.
        </p>

        {a currentUser.friends a}

        <div class="kd worksheet_block_title">
            Administrators
        </div>
        <p ng-if="currentUser.preferences.show_ui_tips">
            Settlement administrators may update the Settlement Sheet and have
            the ability to manage all Survivor Sheets. They may also add other
            administrators and remove players.
        </p>

        <div
            ng-repeat="player in settlement.user_assets.players"
            ng-if="player.settlement_admin"
            class="clickable kd worksheet_row"
            ng-click="ngShow('playerAdmin' + player._id.$oid)"
        >
            <div class="kd checkbox checked" ng-class="{'red': player.settlement_founder}"></div>
            <div class="kd checkbox_desc" ng-class="{'red_text': player.settlement_founder}">
                {a player.login a}
            </div>
        </div>

        <!--

            Player management modal 

        -->
        <div
            class="hidden modal"
            id="{a 'playerAdmin' + player._id.$oid a}"
            ng-repeat="player in settlement.user_assets.players"
            ng-if="ngVisible['playerAdmin' + player._id.$oid]"
            ng-click="ngHide('playerAdmin' + player._id.$oid)"
        >
            <div class="modal-content" ng-click="$event.stopPropagation()">

                <div
                    class="corner_close_modal"
                    ng-click="ngHide('playerAdmin' + player._id.$oid)"
                >
                </div>

                <h3 class="kd title">{a player.login a}</h3>

                <p ng-if="player.settlement_founder">
                    {a player.login a} is the settlement's founder! Among other
                    things, this means that they are always a settlement 
                    administrator, no matter what.
                </p>

                <div class="kd worksheet_block" ng-if="!player.settlement_founder">

                    <div class="kd worksheet_block_title">
                        Permissions
                    </div>

                    <div
                        class="clickable kd worksheet_row"
                        ng-click="
                            ngHide('playerAdmin' + player._id.$oid);
                            ngShow('fullPageLoader');
                            toggleArrayItem(settlement.sheet.admins, player.login);
                            postJSONtoAPI(
                                'settlement', 'set_admins', settlement.sheet._id.$oid,
                                {'admins': settlement.sheet.admins},
                                true, true, true
                            );
                        "
                    >
                        <div
                            class="kd checkbox"
                            ng-class="{'checked': player.settlement_admin}"
                        >
                        </div>
                        <div class="kd checkbox_desc">Administrator</div>
                    </div>
                </div>

                <div ng-if="!player.settlement_founder"> 
                    <p ng-if="currentUser.preferences.show_ui_tips">
                        Use the button below to remove {a player.login a} from the
                        settlement. This <i>cannot be undone</i> and will cause all
                        survivors they own to revert to the settlement's founder.
                    </p>
                    <button
                        class="kd capsule pink"
                        ng-click = "
                            ngHide('playerAdmin' + player._id.$oid);
                            ngShow('fullPageLoader');
                            postJSONtoAPI(
                                'settlement', 'rm_player', settlement.sheet._id.$oid,
                                {'login': player.login},
                                true, true, true
                            );
                        "
                    >
                        Remove player
                    </button>
                </div>

            </div>
        </div>

    </div>

    <!-- MACROS -->
    <div
        class="kd worksheet_block"
        ng-if="kingdomDeath.macros"
        ng-class="{
            'disabled': currentUser.subscriber.level === 0,
        }"
        ng-disabled="currentUser.subscriber.level < 2"
    >

        <div class="kd worksheet_block_title">
            Macros
        </div>

        <p ng-if="currentUser.preferences.show_ui_tips">
            Settlement sheet macros allow you to perform complex settlement
            updates automatically! Tap or click a macro below to review the
            operations it performs.
        </p>

        <div
            ng-repeat="macro in kingdomDeath.macros"
            ng-init="macroControlsId = macro.handle + 'ControlsDiv'"
        >
            <button
                class="clickable kd capsule yellow full_width"
                ng-click="ngShow(macroControlsId)"
            >
                {a macro.name a}
            </button>

            <div
                id="{a macroControlsId a}"
                class="hidden modal"
                ng-if="ngVisible[macroControlsId]"
                ng-click="ngHide(macroControlsId)"
            >

                <div
                    class="modal-content settlement_sheet_macro"
                    ng-click="$event.stopPropagation()"
                >

                    <div
                        class="clickable corner_close_modal"
                        ng-click="ngHide(macroControlsId)"
                    >
                    </div>

                    <h3 class="kd title">{a macro.name a}</h3>

                    <p ng-bind-html="macro.desc|trustedHTML"></p>

                    <div
                        class="kd worksheet_block"
                    >
                        <div
                            ng-repeat="item in macro.summary"
                            class="kd worksheet_row"
                        >
                            <div class="kd checkbox checked"></div>
                            <div
                                class="kd checkbox_desc"
                                ng-bind-html="item|trustedHTML"
                            >
                            </div>
                        </div>
                    </div>

                    <div
                        class="kd rulebook_warning full_width pink"
                        ng-if="macro.warning"
                        ng-bind-html="macro.warning|trustedHTML"
                    >
                    </div>

                    <div class="modal_content_button_raft">
                        <button
                            class="kd capsule full_width blue"
                            ng-click="
                                ngShow('fullPageLoader');
                                ngHide(macroControlsId);
                                postJSONtoAPI(
                                    'settlement', 'apply_macro', settlement.sheet._id.$oid,
                                    {'handle': macro.handle},
                                    true, true, false
                                );
                            "
                        >
                            Apply macro
                        </button>
                        <button
                            class="kd capsule full_width "
                            ng-click="ngHide(macroControlsId)"
                        >
                            Close
                        </button>
                    </div>

                </div> <!-- macro controls modal inner -->
            </div><!-- macro controls modal outer -->
        </div><!-- macro repeater -->
    </div> <!-- MACROS -->


    <!-- ABANDON -->
    <div
        class="kd worksheet_block"
    >

        <div class="kd worksheet_block_title">
            Abandon Settlement
        </div>

        <p
            ng-if="settlement.sheet.abandoned !== undefined"
        >
            Use the button below to remove the 'Lost' status from
            <b>{a settlement.sheet.name a}</b>; this will cause it to appear
            on your dashboard and function normally again.
        </p>
        <p
            ng-if="settlement.sheet.abandoned === undefined"
        >
            Use the button below to mark <b>{a settlement.sheet.name a}</b>
            as "Lost".
        </p>
        <p
            ng-if="settlement.sheet.abandoned === undefined"
        >
            Marking a settlement 'Lost' <i>does not</i> remove it from the
            system. Lost settlements may be accessed and
            updated normally. If they belong to a campaign, the settlement will
            be included in the campaign's 'Lost Settlements'.
        </p>

        <button
            class="kd capsule full_width pink"
            ng-click="
                postJSONtoAPI(
                    'settlement', 'abandon', settlement.sheet._id.$oid,
                    {},
                    false, true, true
                );
            "
            ng-if="settlement.sheet.abandoned === undefined"
        >
            Abandon Settlement
        </button>

        <button
            class="kd capsule full_width pink"
            ng-if="settlement.sheet.abandoned !== undefined"
            ng-click="
                postJSONtoAPI(
                    'settlement', 'abandon', settlement.sheet._id.$oid,
                    {'value': 'UNSET'},
                    false, true, true
                );
            "
        >
            Un-abandon Settlement
        </button>

    </div> <!-- abandon controls -->


    <!-- REMOVE -->
    <div
        class="kd worksheet_block"
        ng-if="currentUser.preferences.show_remove_button"
    >
        <div class="kd worksheet_block_title kd_red_text">
            Delete Settlement
        </div>

        <p>
            Use the button below to permanently delete
            <b>{a settlement.sheet.name a}</b>.
        </p>
        <p>
            This will <b>permanently delete all survivors</b> associated
            with this settlement.
        </p>
        <p class="kd_red_text">
            &nbsp;
            <b>This cannot be undone.</b>
        </p>
        <button
            class="kd capsule full_width red"
            ng-click="ngShow('removeSettlementConfirmation')"
        >
            DELETE
        </button>
    </div>
    <div
        id="removeSettlementConfirmation"
        class="hidden modal-black"
        ng-click="ngHide('removeSettlementConfirmation')"
        ng-if="ngVisible['removeSettlementConfirmation']"
    >
        <div
            class="modal-content rm_asset_confirm_container kd_red"
            ng-click="$event.stopPropagation()"
        >

            <h3 class="kd title">DELETE SETTLEMENT</h3>

            <p>
                This CANNOT BE UNDONE and is not the same as marking the
                settlement "abandoned".
            </p>
            <p>
                Please consider abandoning old settlements rather than
                deleting them. This allows data about the settlement to
                be used in general https://kdm-manager.com stats that
                all users see on their dashboards.
            </p>
            <p>
                If you still want to permanently delete
                <b>{a settlement.sheet.name a}</b>, type "DELETE" (without
                the quotes) in the box below and then click the "DELETE"
                button that appears to permanently delete this settlement
                AND ALL SURVIVORS WHO BELONG TO THIS SETTLEMENT forever.
            </p>

            <input
                type="text"
                class="kd capsule full_width font_large"
                ng-model="scratch.confirmRemove"
                placeholder="DELETE"
            />

            <button
                class="ng_fade kd capsule red full_width"
                ng-if="scratch.confirmRemove === 'DELETE'"
                ng-click="
                    ngShow('fullPageLoader');
                    postJSONtoAPI(
                        'settlement', 'remove', settlement.sheet._id.$oid,
                        {},
                        false, true, true
                    );
                    loadUrl('/')
                "
            >
                DELETE SETTLEMENT
            </button>
            <button
                class="ng_fade kd capsule full_width"
                ng-if="scratch.confirmRemove !== 'DELETE'"
                ng-click="ngHide('removeSettlementConfirmation')"
            >
                Close
            </button>
        </div><!-- rm_settlement_confirm_container -->

    </div><!-- modal-black confirmation container-->
</div> <!-- settlementSheetAdminTab -->
