<div
    id="settlementSheetSheetTab"
    class="view_tab"
    ng-show='tabsObject.activeTab === 0'
    ng-if="settlement.sheet"
>

    <div id="settlementSheetLeftColumn">

        <div
            contentEditable="true"
            class="settlement_name"
            ng-model="settlement.sheet.name"
            ng-placeholder="Settlement Name"
            title="Tap or click to edit settlement name!"
            ng-blur="
                postJSONtoAPI(
                    'settlement', 'set_name', settlement.sheet._id.$oid,
                    {'name': settlement.sheet.name},
                    false, true, false
                );
            "
        >
            {a settlement.sheet.name a}
        </div>

        <p
            id="campaign_type"
            class="campaign_type"
            title="Campaign type may not be changed after a settlement is created!"
        >
            {a settlement.game_assets.campaign.name a}
        </p>

        <h1
            id="settlementSheetAbandonedStamp"
            ng-if="settlement && settlement.sheet.abandoned"
            class="settlement_abandoned_stamp"
        >
            LOST
        </h1>


        <!-- settlement sheet tumblers start here -->
		<div
			id="settlementTumblerScold"
			class="ng_fade kd_sheet_ui_row_tip"
			ng-click="ngShowHide('settlementTumblerScold')"
		    ng-if="
				user.user.preferences.show_ui_tips &&
				scratch.showSettlementTumblerScold
			"
		>

			<p>
                The Manager tracks the settlement's Survival Limit,
                Population and Death Count automatically. Please use the manual
                controls below with care!
            </p>

			<p>(Tap or click to dismiss.)</p>

		</div>

		<div
			id="lanternYearScold"
			class="ng_fade kd_sheet_ui_row_tip"
			ng-click="scratch.showLanternYearScold = false"
		    ng-if="scratch.showLanternYearScold"
		>   

            <p>
                Please click on the menu button in the upper left corner
                and use the <b>Timeline</b> controls to update the Lantern Year.
            </p>

			<p>(Tap or click to dismiss.)</p>

		</div>

        <div
			class="settlement_sheet_tumblers_container"
		>

            <div
                class="settlement_sheet_tumbler"
            >
                <div
                    class="settlement_sheet_tumbler_click_on"
                    ng-click="scratch.showLanternYearScold = true"
                >
                    <div
                        class="settlement_sheet_tumbler_number"
                    >
                            {a settlement.sheet.lantern_year a}
                    </div>
                    <div
                        class="settlement_sheet_tumbler_name"
                    >
                        Lantern Year
                    </div>
                </div> <!-- tumbler_click_on -->
            </div> <!-- one-off tumbler -->

            <div
                class="settlement_sheet_tumbler"
                ng-repeat="attrib in [
                    'survival_limit', 'population', 'death_count'
                ]"
            >

                <div
                    class="settlement_sheet_tumbler_click_on"
                    ng-click="
				        scratch.showSettlementTumblerScold = true;
                        rollUp(attrib + 'Controls')
                    "
                >

                    <div
                        class="settlement_sheet_tumbler_number"
                        ng-class="{
                            'active': ngRolledUp[attrib + 'Controls'] === false,
                        }"
                    >
                        {a settlement.sheet[attrib] a}
                    </div>

                    <div
                        class="settlement_sheet_tumbler_name"
                        ng-if="ngRolledUp[attrib + 'Controls'] !== false"
                    >
                        {a attrib.replace("_", " ") a}
                    </div>
                    <div
                        class="settlement_sheet_tumbler_name"
                        ng-if="ngRolledUp[attrib + 'Controls'] === false"
                    >
                        &#9662;
                    </div>

                </div> <!-- tumbler_click_on -->

            </div> <!-- settlement_sheet_tumbler repeater -->

            <!-- lantern research level -->

            <div
                class="settlement_sheet_tumbler"
                ng-if="
                    settlement.sheet.locations.indexOf('exhausted_lantern_hoard') != -1
                "
            >
                <div
                    class="settlement_sheet_tumbler_click_on"
                    ng-click="rollUp('lanternResearchControls')"
                >
                    <div
                        class="settlement_sheet_tumbler_number"
                        ng-class="{
                            'active': ngRolledUp['lanternResearchControls'] === false,
                        }"
                    >
                            {a settlement.sheet.lantern_research_level a}
                    </div>
                    <div
                        class="settlement_sheet_tumbler_name"
                        ng-if="ngRolledUp['lanternResearchControls'] !== false"
                    >
                        Lantern Research
                    </div>
                    <div
                        class="settlement_sheet_tumbler_name"
                        ng-if="ngRolledUp['lanternResearchControls'] === false"
                    >
                        &#9662;
                    </div>
                </div> <!-- tumbler_click_on -->
            </div> <!-- one-off tumbler -->

        </div> <!-- TUMBLERs END; tumbler controls begin! -->


        <div class="settlement_sheet_tumbler_controls_container">

            <div
                id="survival_limitControls"
                class="kd_sheet_ui_roll_down rolled_up settlement_sheet_tumbler_controls"
            >

                <div class="settlement_sheet_tumbler_control_title">
                    Survival Limit
                </div>

                <div class="settlement_sheet_tumbler_control_raft">
                    <button
                        ng-click="incrementAttrib('survival_limit', 1)"
                    >
                       &#9652;
                    </button>

                    <button
                        ng-click="incrementAttrib('survival_limit', -1)"
                        ng-disabled= "
                            settlement.sheet.survival_limit === settlement.sheet.minimum_survival_limit
                        "
                    >
                        &#9662;
                    </button>
                </div> <!-- control raft -->

                <div class="settlement_sheet_tumbler_tip">

                    <p>
                        The minimum Survival Limit for <b>{a settlement.sheet.name a}</b>,
                        based on settlement innovations and principles, is 
                        <b>{a settlement.sheet.minimum_survival_limit a}</b>.
                        <span ng-if="settlement.sheet.enforce_survival_limit == true">
                            The settlement Survival <i>Limit</i> of
                            <b>{a settlement.sheet.survival_limit a}</b> is
                            automatically enforced on the Survivor Sheet!
                        </span>
                        <span ng-if="settlement.sheet.enforce_survival_limit == false">
                            Due to expansion or campaign rules, the settlement
                            Survival Limit of <b>{a settlement.sheet.survival_limit a}</b>
                            is <u>not</u> enforced on the Survivor Sheet!
                        </span>
                    </p>

                </div> <!-- tip -->

                <div
                    class="settlement_sheet_tumbler_close_button_container"
                    ng-click="
                        rollUp('survival_limitControls');
                    "
                >
                    <button class="kd_kickstarter_button kd_blue">Save and Close</button>
                </div>

            </div> <!-- survivalControls -->


            <div
                id="populationControls"
                class="kd_sheet_ui_roll_down rolled_up settlement_sheet_tumbler_controls"
            >

                <div class="settlement_sheet_tumbler_control_title">
                    Population
                </div>

                <div class="settlement_sheet_tumbler_control_raft">

                    <button
                        ng-click="incrementAttrib('population', 1)"
                    >
                        &#9652;
                    </button>
                    <button
                        ng-click="incrementAttrib('population', -1)"
                        ng-disabled= "
                            settlement.sheet.population === settlement.sheet.minimum_population
                        "
                    >
                        &#9662;
                    </button>

                </div> <!-- control raft -->

                <div class="settlement_sheet_tumbler_tip">

                    <p>
                        The minimum Population for <b>{a settlement.sheet.name a}</b>,
                        based on the total number of living survivors in the
                        settlement, is <b>{a settlement.sheet.minimum_population a}</b>.
                    </p>

                </div> <!-- tip -->

                <div
                    class="settlement_sheet_tumbler_close_button_container"
                    ng-click="rollUp('populationControls')"
                >
                    <button class="kd_kickstarter_button kd_blue">Save and Close</button>
                </div>

            </div> <!-- POPULATION controls END -->


            <div
                id="death_countControls"
                class="kd_sheet_ui_roll_down rolled_up settlement_sheet_tumbler_controls"
            >

                <div class="settlement_sheet_tumbler_control_title">
                    Death Count
                </div>

                <div class="settlement_sheet_tumbler_control_raft">

                    <button
                        ng-click="incrementAttrib('death_count',1)"
                    >
                        &#9652;
                    </button>
                    <button
                        ng-click="incrementAttrib('death_count',-1)"
                        ng-disabled= "
                            settlement.sheet.death_count === settlement.sheet.minimum_death_count
                        "
                    >
                        &#9662;
                    </button>

                </div> <!-- control raft -->

                <div class="settlement_sheet_tumbler_tip">

                    <p>
                        The minimum Death Count for <b>{a settlement.sheet.name a}</b>,
                        based on the total number of dead survivors in the
                        settlement, is <b>{a settlement.sheet.minimum_death_count a}</b>.
                    </p>

                </div> <!-- tip -->

                <div
                    class="settlement_sheet_tumbler_close_button_container"
                    ng-click="rollUp('death_countControls')"
                >
                    <button class="kd_kickstarter_button kd_blue">Save and Close</button>
                </div>

            </div> <!-- DEATH COUNT controls -->

            <div
                id="lanternResearchControls"
                class="kd_sheet_ui_roll_down rolled_up settlement_sheet_tumbler_controls"
            >
                <div class="settlement_sheet_tumbler_control_title">
                    Lantern Research Level
                </div>

                <div class="settlement_sheet_tumbler_control_raft">
                    <button
                        ng-click="incrementAttrib('lantern_research_level', 1)"
                    >
                       &#9652;
                    </button>

                    <button
                        ng-click="incrementAttrib('lantern_research_level', -1)"
                        ng-disabled= "
                            settlement.sheet.lantern_research_level === 0
                        "
                    >
                        &#9662;
                    </button>
                </div> <!-- control raft -->

                <div class="settlement_sheet_tumbler_tip">
                    <p>
                        <b>Once per lantern year, spend 2 x Bone, 2 x hide,
                        2 x organ to research.</b>
                    </p>
                    <p>
                        If you do, gain the next level of Lantern Research.
                    </p>
                    <p>
                        Corresponding <b>Pulse Discoveries</b> are displayed
                        on the Campaign Summary view.
                    </p>
                </div> <!-- tip -->

                <div
                    class="settlement_sheet_tumbler_close_button_container"
                    ng-click="
                        rollUp('lanternResearchControls');
                    "
                >
                    <button class="kd_kickstarter_button kd_blue">Save and Close</button>
                </div>

            </div> <!-- lanternResearchControls -->

        </div> <!-- settlement_sheet_tumbler_controls_container -->

        {% include '/settlement_sheet/milestone_story_events.html' %}
        {% include '/settlement_sheet/principles.html' %}
        {% include '/settlement_sheet/inspirational_statue.html' %}
        {% include '/settlement_sheet/monster_volumes.html' %}

    </div> <!-- asset_management_left_pane/left column -->



    <!-- MIDDLE COLUMN STARTS HERE -->

    <div id="settlementSheetMiddleColumn">

        {% include '/settlement_sheet/locations.html' %}
        {% include '/settlement_sheet/innovations.html' %}
        {% include '/settlement_sheet/patterns.html' %}

    </div> <!-- settlementSheetMiddleColumn -->

    <div
        id="settlementSheetRightColumn"
        ng-if="settlement"
    >

        {% include '/settlement_sheet/strain_milestones.html' %}
        {% include '/settlement_sheet/quarries.html' %}
        {% include '/settlement_sheet/nemesis_monsters.html' %}
        {% include '/settlement_sheet/defeated_monsters.html' %}
        {% include '/settlement_sheet/lost_settlements.html' %}

    </div> <!-- right pane -->

</div> <!-- settlement sheet Sheet tab -->
