<div
    id="settlementSheetExpansionsTab"
    class="view_tab"
    ng-if="settlement.sheet && settlement.game_assets && kingdomDeath"
    ng-show="tabsObject.activeTab === 665"
>

    <h3 class="kd title">Expansions</h3>
    {a scratch a}

    <p
        class="kd_sheet_ui_row_tip"
        ng-if="currentUser.preferences.show_ui_tips"
    >
        Use the controls below to determine which expansion content
        is enabled for the <b>{a settlement.sheet.name a}</b> campaign.
        Changes are saved automatically!
    </p>

    <!-- repeater for expansion categories -->
    <div
        class="kd worksheet_block lined"
        ng-repeat="category in [
            'KD Collection',
            'Quarry',
            'Nemesis',
            'White Box',
            'Enhancement'
        ]"
    >

        <div class="kd worksheet_block_title">{a category a}</div>

        <div
            class="clickable"
            ng-class="{
                'disabled': expansion.mandatory || currentUser.subscriber.level < expansion.subscriber_level,
            }"
            ng-repeat="(handle, expansion) in kingdomDeath.expansions"
            ng-if="expansion.ui.pretty_category === category"
            ng-click="
                $event.stopPropagation();
                toggleArrayItem(settlement.sheet.expansions, expansion.handle);
                postJSONtoAPI(
                    'settlement', 'set_expansions', settlement.sheet._id.$oid,
                    {'expansions': settlement.sheet.expansions},
                    true, true, true,
                    [loadStorage, setGearLookup]
                );
                ngShow('fullPageLoader');
            "
            ng-init="
                expansion.mandatory = settlement.game_assets.campaign.settlement_sheet_init.expansions.indexOf(expansion.handle) >= 0;
            "
        >
            <span
                class="hidden"
                ng-init="expansion.disabled = expansion.mandatory || currentUser.subscriber.level < expansion.subscriber_level"
            >
             HACK CITY!!!1
            </span>
        
            <!-- update the item to have expansion.mandatory = true if it's in the list -->
            <div
                ng-if="expansion"
                class="kd worksheet_row"
                ng-class="{'disabled': expansion.disabled}"
            >

                <div
                    class="kd checkbox"
                    ng-if="
                        currentUser.subscriber.level >= expansion.subscriber_level ||
                        expansion.subscriber_level === undefined
                    "
                    ng-class="{
                        'checked': settlement.sheet.expansions.indexOf(expansion.handle) != -1,
                        'red': expansion.mandatory,
                    }"
                ></div>

                <div
                    class="kd lockbox kdm_manager_font"
                    ng-if="currentUser.subscriber.level < expansion.subscriber_level"
                >
                    l
                </div>
                <div
                    class="kd checkbox_desc"
                    ng-bind-html="expansion.name|trustedHTML"
                >
                </div>

            </div><!-- worksheet_row -->

            <div
                class="font_small kd worksheet_row caption"
                ng-class="{'disabled': expansion.disabled, }"
                ng-if="expansion.subtitle"
                ng-bind-html="expansion.subtitle|trustedHTML"
            >
            </div>
            
            <div
                class="font_small kd worksheet_row caption"
                ng-class="{'disabled': expansion.disabled, }"
                ng-if="expansion.mandatory"
            >
                The <b>{a expansion.name a}</b> ({a expansion.released.$date|date:'yyyy' a})
                expansion is required by the <b>{a settlement.game_assets.campaign.name a}</b>
                campaign and cannot be removed!
            </div>

        </div><!-- expansion repeater/clicker ; no class -->

    </div><!-- category repeater / worksheet_block -->

</div> <!-- tab -->
