<div
    id="settlementSheetSheetTab"
    class="view_tab"
    ng-show='tabsObject.activeTab === 0'
    ng-if="settlement.sheet"
>

    <div id="settlementSheetLeftColumn">

        <div
            contentEditable="true"
            class="settlement_name"
            ng-model="settlement.sheet.name"
            ng-placeholder="Settlement Name"
            title="Tap or click to edit settlement name!"
            ng-blur="
                postJSONtoAPI(
                    'settlement', 'set_name', settlement.sheet._id.$oid,
                    {'name': settlement.sheet.name},
                    false, true, false
                );
            "
        >
            {a settlement.sheet.name a}
        </div>

        <p
            id="campaign_type"
            class="campaign_type"
            title="Campaign type may not be changed after a settlement is created!"
        >
            {a settlement.game_assets.campaign.name a}
        </p>

        <h1
            id="settlementSheetAbandonedStamp"
            ng-if="settlement && settlement.sheet.abandoned"
            class="settlement_abandoned_stamp"
        >
            LOST
        </h1>


        <!-- settlement sheet tumblers start here -->
		<div
			id="settlementTumblerScold"
			class="ng_fade kd_sheet_ui_row_tip"
			ng-click="ngShowHide('settlementTumblerScold')"
		    ng-if="
				user.user.preferences.show_ui_tips &&
				scratch.showSettlementTumblerScold
			"
		>

			<p>
                The Manager tracks the settlement's Survival Limit,
                Population and Death Count automatically. Please use the manual
                controls below with care!
            </p>

			<p>(Tap or click to dismiss.)</p>

		</div>

		<div
			id="lanternYearScold"
			class="ng_fade kd_sheet_ui_row_tip"
			ng-click="scratch.showLanternYearScold = false"
		    ng-if="scratch.showLanternYearScold"
		>   

            <p>
                Please click on the menu button in the upper left corner
                and use the <b>Timeline</b> controls to update the Lantern Year.
            </p>

			<p>(Tap or click to dismiss.)</p>

		</div>

        <div
			class="settlement_sheet_tumblers_container"
		>

            <div
                class="settlement_sheet_tumbler"
            >
                <div
                    class="settlement_sheet_tumbler_click_on"
                    ng-click="scratch.showLanternYearScold = true"
                >
                    <div
                        class="settlement_sheet_tumbler_number"
                    >
                            {a settlement.sheet.lantern_year a}
                    </div>
                    <div
                        class="settlement_sheet_tumbler_name"
                    >
                        Lantern Year
                    </div>
                </div> <!-- tumbler_click_on -->
            </div> <!-- one-off tumbler -->

            <div
                class="settlement_sheet_tumbler"
                ng-repeat="attrib in [
                    'survival_limit', 'population', 'death_count'
                ]"
            >

                <div
                    class="settlement_sheet_tumbler_click_on"
                    ng-click="
				        scratch.showSettlementTumblerScold = true;
                        rollUp(attrib + 'Controls')
                    "
                >

                    <div
                        class="settlement_sheet_tumbler_number"
                        ng-class="{
                            'active': ngRolledUp[attrib + 'Controls'] === false,
                        }"
                    >
                        {a settlement.sheet[attrib] a}
                    </div>

                    <div
                        class="settlement_sheet_tumbler_name"
                        ng-if="ngRolledUp[attrib + 'Controls'] !== false"
                    >
                        {a attrib.replace("_", " ") a}
                    </div>
                    <div
                        class="settlement_sheet_tumbler_name"
                        ng-if="ngRolledUp[attrib + 'Controls'] === false"
                    >
                        &#9662;
                    </div>

                </div> <!-- tumbler_click_on -->

            </div> <!-- settlement_sheet_tumbler repeater -->

            <!-- lantern research level -->

            <div
                class="settlement_sheet_tumbler"
                ng-if="
                    settlement.sheet.locations.indexOf('exhausted_lantern_hoard') != -1
                "
            >
                <div
                    class="settlement_sheet_tumbler_click_on"
                    ng-click="rollUp('lanternResearchControls')"
                >
                    <div
                        class="settlement_sheet_tumbler_number"
                        ng-class="{
                            'active': ngRolledUp['lanternResearchControls'] === false,
                        }"
                    >
                            {a settlement.sheet.lantern_research_level a}
                    </div>
                    <div
                        class="settlement_sheet_tumbler_name"
                        ng-if="ngRolledUp['lanternResearchControls'] !== false"
                    >
                        Lantern Research
                    </div>
                    <div
                        class="settlement_sheet_tumbler_name"
                        ng-if="ngRolledUp['lanternResearchControls'] === false"
                    >
                        &#9662;
                    </div>
                </div> <!-- tumbler_click_on -->
            </div> <!-- one-off tumbler -->

        </div> <!-- TUMBLERs END; tumbler controls begin! -->


        <div class="settlement_sheet_tumbler_controls_container">

            <div
                id="survival_limitControls"
                class="kd_sheet_ui_roll_down rolled_up settlement_sheet_tumbler_controls"
            >

                <div class="settlement_sheet_tumbler_control_title">
                    Survival Limit
                </div>

                <div class="settlement_sheet_tumbler_control_raft">
                    <button
                        ng-click="incrementAttrib('survival_limit', 1)"
                    >
                       &#9652;
                    </button>

                    <button
                        ng-click="incrementAttrib('survival_limit', -1)"
                        ng-disabled= "
                            settlement.sheet.survival_limit === settlement.sheet.minimum_survival_limit
                        "
                    >
                        &#9662;
                    </button>
                </div> <!-- control raft -->

                <div class="settlement_sheet_tumbler_tip">

                    <p>
                        The minimum Survival Limit for <b>{a settlement.sheet.name a}</b>,
                        based on settlement innovations and principles, is 
                        <b>{a settlement.sheet.minimum_survival_limit a}</b>.
                        <span ng-if="settlement.sheet.enforce_survival_limit == true">
                            The settlement Survival <i>Limit</i> of
                            <b>{a settlement.sheet.survival_limit a}</b> is
                            automatically enforced on the Survivor Sheet!
                        </span>
                        <span ng-if="settlement.sheet.enforce_survival_limit == false">
                            Due to expansion or campaign rules, the settlement
                            Survival Limit of <b>{a settlement.sheet.survival_limit a}</b>
                            is <u>not</u> enforced on the Survivor Sheet!
                        </span>
                    </p>

                </div> <!-- tip -->

                <div
                    class="settlement_sheet_tumbler_close_button_container"
                    ng-click="
                        rollUp('survival_limitControls');
                    "
                >
                    <button class="kd_kickstarter_button kd_blue">Save and Close</button>
                </div>

            </div> <!-- survivalControls -->


            <div
                id="populationControls"
                class="kd_sheet_ui_roll_down rolled_up settlement_sheet_tumbler_controls"
            >

                <div class="settlement_sheet_tumbler_control_title">
                    Population
                </div>

                <div class="settlement_sheet_tumbler_control_raft">

                    <button
                        ng-click="incrementAttrib('population', 1)"
                    >
                        &#9652;
                    </button>
                    <button
                        ng-click="incrementAttrib('population', -1)"
                        ng-disabled= "
                            settlement.sheet.population === settlement.sheet.minimum_population
                        "
                    >
                        &#9662;
                    </button>

                </div> <!-- control raft -->

                <div class="settlement_sheet_tumbler_tip">

                    <p>
                        The minimum Population for <b>{a settlement.sheet.name a}</b>,
                        based on the total number of living survivors in the
                        settlement, is <b>{a settlement.sheet.minimum_population a}</b>.
                    </p>

                </div> <!-- tip -->

                <div
                    class="settlement_sheet_tumbler_close_button_container"
                    ng-click="rollUp('populationControls')"
                >
                    <button class="kd_kickstarter_button kd_blue">Save and Close</button>
                </div>

            </div> <!-- POPULATION controls END -->


            <div
                id="death_countControls"
                class="kd_sheet_ui_roll_down rolled_up settlement_sheet_tumbler_controls"
            >

                <div class="settlement_sheet_tumbler_control_title">
                    Death Count
                </div>

                <div class="settlement_sheet_tumbler_control_raft">

                    <button
                        ng-click="incrementAttrib('death_count',1)"
                    >
                        &#9652;
                    </button>
                    <button
                        ng-click="incrementAttrib('death_count',-1)"
                        ng-disabled= "
                            settlement.sheet.death_count === settlement.sheet.minimum_death_count
                        "
                    >
                        &#9662;
                    </button>

                </div> <!-- control raft -->

                <div class="settlement_sheet_tumbler_tip">

                    <p>
                        The minimum Death Count for <b>{a settlement.sheet.name a}</b>,
                        based on the total number of dead survivors in the
                        settlement, is <b>{a settlement.sheet.minimum_death_count a}</b>.
                    </p>

                </div> <!-- tip -->

                <div
                    class="settlement_sheet_tumbler_close_button_container"
                    ng-click="rollUp('death_countControls')"
                >
                    <button class="kd_kickstarter_button kd_blue">Save and Close</button>
                </div>

            </div> <!-- DEATH COUNT controls -->

            <div
                id="lanternResearchControls"
                class="kd_sheet_ui_roll_down rolled_up settlement_sheet_tumbler_controls"
            >
                <div class="settlement_sheet_tumbler_control_title">
                    Lantern Research Level
                </div>

                <div class="settlement_sheet_tumbler_control_raft">
                    <button
                        ng-click="incrementAttrib('lantern_research_level', 1)"
                    >
                       &#9652;
                    </button>

                    <button
                        ng-click="incrementAttrib('lantern_research_level', -1)"
                        ng-disabled= "
                            settlement.sheet.lantern_research_level === 0
                        "
                    >
                        &#9662;
                    </button>
                </div> <!-- control raft -->

                <div class="settlement_sheet_tumbler_tip">
                    <p>
                        <b>Once per lantern year, spend 2 x Bone, 2 x hide,
                        2 x organ to research.</b>
                    </p>
                    <p>
                        If you do, gain the next level of Lantern Research.
                    </p>
                    <p>
                        Corresponding <b>Pulse Discoveries</b> are displayed
                        on the Campaign Summary view.
                    </p>
                </div> <!-- tip -->

                <div
                    class="settlement_sheet_tumbler_close_button_container"
                    ng-click="
                        rollUp('lanternResearchControls');
                    "
                >
                    <button class="kd_kickstarter_button kd_blue">Save and Close</button>
                </div>

            </div> <!-- lanternResearchControls -->

        </div> <!-- settlement_sheet_tumbler_controls_container -->

        <!-- MILESTONES -->

        <div>

            <h2 class="kd worksheet_page_title">
                Milestone Story Events
            </h2>

            <p>
                Trigger these story events when the milestone condition is met.
            </p>

            <div
                ng-repeat="m in settlement.game_assets.milestones_options"
                class="clickable hover_highlight kd worksheet_row lined principle"
                ng-click="
                    toggleArrayItem(settlement.sheet.milestone_story_events, m.handle);
                    setSettlementAttribute('milestone_story_events');
                "
            >
                <div
                    class="kd checkbox"
                    ng-class="{
                        'checked': settlement.sheet.milestone_story_events.indexOf(m.handle) != -1
                    }"
                >
                </div>

                <div>
                    {a m.name a}
                </div>

                <div class="font_small">
                    <font class="kdm_font">g</font>
                    <b>{a m.story_event a}</b>
                    <span class="milestone_story_reference">
                        (p.{a settlement.game_assets.events[m.story_event_handle].page a})
                    </span>
                </div>

            </div> <!-- milestone repeater div -->

        </div> <!-- anonymous div for milestones -->


        <!-- PRINCIPLES -->
        <div>

            <h2 class="kd worksheet_page_title">Principles</h2>

            <p>The settlement's established principles.</p>

            <div
                class="settlement_sheet_principles_spinner_container"
                ng-if="settlement.sheet.principles === undefined"
            >
                <img src="/static/media/loading_io.gif" />
                <p>Updating settlement principles...</p>
            </div>

            <!-- two repeaters here, because each principle has options we nee
                to iterate -->
            <div
                ng-repeat="p in settlement.game_assets.principles_options"
                ng-if="settlement.sheet.principles !== undefined"
            >
                <div
                    class="kd worksheet_row lined"
                    ng-repeat="o in p.options"
                    ng-if="o.checked"
                >
                    <div class="kd checkbox checked"></div>
                    <div class="kd checkbox_desc">{a o.name a}</div>
                </div>

            </div> <!-- principle repeater -->

            <button
                class="kd capsule full_width"
                ng-click="ngShow('settlementSheetPrinciplesEditorModal')"
            >
                Edit principles
            </button>

        </div> <!-- principles settlement sheet block group -->

        <div
            id="settlementSheetPrinciplesEditorModal"
            ng-click="ngHide('settlementSheetPrinciplesEditorModal')"
            ng-if="
                ngVisible['settlementSheetPrinciplesEditorModal']
            "
            class="modal-black hidden"
        >
            <div class="kd_sheet_ui_outer_ring_container">

                <div
                    id="settlementSheetPrinciplesControls"
                    class="kd_sheet_ui_inner_ring_container"
                    ng-click="$event.stopPropagation()"
                >

                <h3 class="kd title">Principles</h3>

                <p>The settlement's established principles.</p>

                <p
                    class="kd_sheet_ui_row_tip"
                    ng-if="user.user.preferences.show_ui_tips"
                    ng-if="settlement.sheet.principles !== undefined"
                >
                    Bonuses to <b>living</b> survivors are applied immediately
                    when a principle is selected. Bonuses to <b>new</b> and
                    <b>newborn</b> survivors are applied automatically
                    thereafter.
                </p>

                <div
                    class="settlement_sheet_principles_spinner_container"
                    ng-if="settlement.sheet.principles === undefined"
                >
                    <img src="/static/media/loading_io.gif" />
                    <p>Updating settlement principles...</p>
                </div>

                <div
                    ng-repeat="p in settlement.game_assets.principles_options"
                    class="settlement_sheet_principle_repeater"
                    ng-if="settlement.sheet.principles !== undefined"
                >

                    <div
                        class="settlement_sheet_principle_name"
                    >
                        {a p.name a}
                    </div>

                    <div
                        class="clickable principle_option editor"
                        ng-repeat="o in p.options"
                        ng-click="set(p.handle, o)"
                    >
                        <div
                            class="principle_option_title"
                        >
                            <div
                                class="kd_sheet_ui_box"
                                ng-class="{
                                    'checked': o.checked,
                                }"
                            >
                            </div>
                            <div class="principle_option_name">
                                {a  o.name  a}
                            </div>
                        </div>

                        <div
                            class="principle_option_desc"
                            ng-bind-html="o.desc|trustedHTML"
                        >
                        </div>


                    </div> <!-- individual principle option repeater-->

                </div> <!-- principle repeater -->



                <div
                    class="ng_fade unset_principle_container"
                    ng-if="
                        settlement.sheet.principles !== undefined &&
                        settlement.game_assets.principles_options !== undefined
                    "
                >
                
                    <p
                        class="kd_sheet_ui_row_tip"
                        ng-if="user.user.preferences.show_ui_tips"
                    >
                        Select a principle from the list below to unset it. The
                        Manager will automatically undo any changes that were
                        made when the principle was selected.
                    </p>

                    <select
                        class="kd capsule full_width"
                        ng-model="scratch.unset"
                        ng-change="unsetPrinciple();"
                        ng-options="p.handle as p.name for p in settlement.game_assets.principles_options"
                    >
                        <option disabled value="">Unset Principle</option>
                    </select>

                </div> <!-- unset_principle_container -->



                </div> <!-- sheet ui INNER ring -->
    
                <button
                    class="kd_kickstarter_button floating_close_modal_button"
                    ng-click="ngHide('settlementSheetPrinciplesEditorModal')"
                >
                    Close
                </button>


            </div> <!-- sheet ui outer ring -->
        </div><!-- principles editor-->

        <!-- inspirational statue -->
        <div
            class="settlement_sheet_block_group"
            ng-if="settlement.sheet.innovations.indexOf('sculpture') != -1"
            title="Use these controls to manage your settlement's Inspirational Statue!"
        >
            <h2>Inspirational Statue</h2>
            <p>A settlement can only have one Inspirational Statue.</p>

            <div class="line_item">
                <span class="empty_bullet" ng-if="settlement.sheet.inspirational_statue == undefined"/></span>
                <span class="bullet" ng-if="settlement.sheet.inspirational_statue != undefined"/></span>
                <select
                    class="kd capsule full_width"
                    ng-model="settlement.sheet.inspirational_statue"
                    ng-options="
                        fa_dict.handle as fa_dict.name disable when fa_dict.select_disabled for fa_dict in settlement.game_assets.inspirational_statue_options
                    "
                    ng-change="setInspirationalStatue()"
                    ng-selected="settlement.sheet.inspirational_statue"
                >
                    <option disabled value="">Select a Fighting Art</option>
                </select>
            </div> <!-- line_item -->
        </div>

        <!-- monster volumes -->
        <div
            class="settlement_sheet_block_group"
            ng-if="settlement.sheet.innovations.indexOf('records') != -1"
            title="Click or tap on an item to remove it from this list."
        >

            <h2>Monster Volumes</h2>
            <p>There can be up to 3 volumes for each monster.</p>

            <div
                class="line_item location_container"
                ng-repeat="v in settlement.sheet.monster_volumes"
            >
                <span class="bullet"></span>
                <span
                    class="item"
                    ng-click="rmMonsterVolume($index, v)"
                >
                    {a v a}
                </span>
            </div> <!-- line_item -->

            <div class="line_item">
                <span class="empty_bullet"></span>
                <select
                    class="kd capsule full_width"
                    ng-model="scratch.monster_volume"
                    ng-options="m_string for m_string in settlement.game_assets.monster_volumes_options"
                    ng-change="addMonsterVolume()"
                >
                    <option disabled value="">Add a Monster Volume</option>
                </select>
            </div> <!-- line_item -->

        </div>


    </div> <!-- asset_management_left_pane/left column -->



    <!-- MIDDLE COLUMN STARTS HERE -->

    <div id="settlementSheetMiddleColumn">

        <!-- locations -->
        <div
            title="Click or tap an item to remove it from this list."
        >

            <h2 class="kd worksheet_page_title">Settlement Locations</h2>

            <p>Locations in your settlement.</p>

            <div
                class="clickable kd worksheet_row lined hover_highlight_red"
                ng-repeat="loc in settlement.sheet.locations"
                ng-init="
                    l_dict = kingdomDeath.locations[loc];
                    l_index = settlement.sheet.locations.indexOf(loc);
                "
            >

                <div class="kd checkbox checked"></div>

                <div
                    class="kd checkbox_desc hover_highlight_red"
                    ng-click="
                        settlement.sheet.locations.splice(l_index, 1);
                        postJSONtoAPI(
                            'settlement', 'rm_location', settlement.sheet._id.$oid,
                            {'handle': l_dict.handle},
                            false, true, true
                        );
                    "
                >
                    {a l_dict.name a}
                </div>

                <span
                    ng-if="l_dict.levels !== undefined"
                    ng-init="locationLevel = (settlement.sheet.location_levels[loc]) || 1"
                    class="location_lvl_select"
                >
                    <select
                        class="location_level"
                        ng-model="locationLevel"
                        ng-options="locationLevel as 'Lvl. '+ locationLevel for locationLevel in [1,2,3]"
                        ng-change="setLocationLevel(loc, locationLevel)"
                        ng-selected="locationLevel"
                    >
                    </select>
                </span> <!-- optional levels controls -->

            </div> <!-- line_item location_container: list/rm locations -->

            <select
                class="kd capsule full_width green"
                ng-disabled="!settlement.game_assets.locations_options"
                ng_model="newLocation"
                ng_change="
                    settlement.game_assets.locations_options = undefined;
                    settlement.sheet.locations.push(newLocation);
                    postJSONtoAPI(
                        'settlement', 'add_location', settlement.sheet._id.$oid,
                        {'handle': newLocation},
                        true, true, false
                    );
                    newLocation = undefined;
                "
                ng-options="
                    loc.handle as loc.name disable
                    when settlement.sheet.locations.indexOf(loc.handle) !== -1
                    for loc in settlement.game_assets.locations_options
                "
            >
                <option value="" disabled selected>Add Location</option>
            </select>

        </div> <!-- settlement_sheet_block_group locations controller-->

        {% include '/settlement_sheet/innovations.html' %}

    </div> <!-- settlementSheetMiddleColumn -->

    <div
        id="settlementSheetRightColumn"
        ng-if="settlement"
    >

        {% include '/settlement_sheet/strain_milestones.html' %}
        {% include '/settlement_sheet/quarries.html' %}
        {% include '/settlement_sheet/nemesis_monsters.html' %}
        {% include '/settlement_sheet/defeated_monsters.html' %}
        {% include '/settlement_sheet/lost_settlements.html' %}

    </div> <!-- right pane -->

</div> <!-- settlement sheet Sheet tab -->
