<div
    id="settlementSheetStorageTab"
    class="view_tab"
    ng-if="settlement"
    ng-show="tabsObject.activeTab === 1"
>

    <div
        class="ng_fade full_tab_spinner"
        ng-if="settlementStorage === undefined"
        ng-init="loadStorage();"
    >
        <img src="/static/media/loading_io.gif">
        <p>Retrieving Settlement Storage...</p>
    </div>

    <div id="editStorage">

        <div
            class="kd worksheet_block lined"
            ng-repeat="s_type in settlementStorage"
            ng-init="
                storageInventoryRollers = [];
                storageAssetRollers = []
            "
        >
            <div class="kd worksheet_block_title">

                {a s_type.name a}<span ng-if="s_type.name==='Resource'">s</span>
                <span
                    ng-if="s_type.total"
                >
                    - {a s_type.total a}
                </span>

            </div>

            <div
                class="font_small kd worksheet_block_subtitle storage_location_keywords_rollup"
                ng-click="refreshRollups()"
            >

                <div
                    class="kd capsule yellow floating_storage_refresh_button"
                    ng-if="s_type.keywords === undefined"
                    ng-click="s_type.keywords = 'loading'"
                >
                    Tap or click here to recalculate keyword counts!
                </div>

                <span
                    class="storage_location_keywords_rollup_item"
                    ng-if="s_type.keywords === 'loading'"
                >
                    Recalculating...
                </span>
                <span
                    class="storage_location_keywords_rollup_item"
                    ng-if="s_type.keywords !== undefined && s_type.keywords !== 'loading'"
                    ng-repeat="(kw, count) in s_type.keywords"
                >
                  {a kw a}: {a count a}
                </span>
            </div>

            <div
                ng-repeat="loc in s_type.locations"
                ng-init="
                    containerId = loc.handle + '_container';
                    storageInventoryRollers.push(containerId)
                "
                ng-if="loc.collection.length > 0"
                class="storage_modal_storage_location"
            >

                <!-- inventory section clickers -->
                <div
                    class="clickable kd worksheet_row principle"
                    ng-click="
                        ngRoll(containerId, storageInventoryRollers);
                    "
                >
                    <span
                        class="font_large silverado kd"
                        ng-class="{
                            'death_grey_text': loc.inventory.length === 0,
                        }"
                    >
                        {a loc.name a}
                    </span> 

                    <span class="font_large silverado">
                    </span>

                    <span
                        class="roll_content_arrow"
                        ng-class="{'open': ngRolledUp[containerId] === false}"
                    >
                        &#x25BC;
                    </span>

                </div>

                <!-- roller for the location -->
                <div
                    id="{a containerId a}"
                    class="roll_down_container rolled_up"
                    ng-class="{'rolled_down': ngRolledUp[containerId] === false}"
                >

                    <!-- repeater row for each asset, i.e. item/gear/etc. -->
                    <div
                        class="kd"
                        ng-repeat="asset in loc.collection"
                        ng-init="
                            storageAssetRollerId = asset.handle + 'AssetRollerId';
                            storageAssetRollers.push(storageAssetRollerId);
                            flipperId = asset.handle + 'FlippersDiv';
                            detailId = asset.handle + 'DetailDiv';
                        "
                        ng-class-even="'no_zebra'"
                        ng-class-odd="'zebra'"
                        ng-class="{
                            'zebra_pop': asset.quantity > 0,
                            'yellow': ngRolledUp[storageAssetRollerId] === false,
                            inventory_row_item_last: $last,
                        }"
                    >
                        
                        <!-- clicker -->
                        <div
                            ng-click="
                                ngRoll(storageAssetRollerId, storageAssetRollers);
                            "
                            class="clickable kd worksheet_row justified"
                        >
                            <span class="name">
                                &nbsp; {a asset.name a}
                            </span>
                            <span class="quantity">
                                &nbsp; {a asset.quantity a}
                            </span>
                        </div>

                        <!-- detail roller -->
                        <div
                            id="{a storageAssetRollerId a}"
                            class="roll_down_container rolled_up storage_asset_roller"
                            ng-class="{
                                'rolled_down': ngRolledUp[storageAssetRollerId] === false
                            }"
                        >

                            <!-- resource or gear card from sub template -->
                            <div class="game_asset_card_and_expert_mode_container">
                                <div
                                    ng-if="asset.type !== 'gear' && ngRolledUp[storageAssetRollerId] === false"
                                    ng-init="resource = asset"
                                >
                                    {% include 'cards/resource.html' %}
                                </div>

                                <div
                                    ng-if="asset.type === 'gear' && ngRolledUp[storageAssetRollerId] === false"
                                    ng-init="gear = asset"
                                >
                                    {% include 'cards/gear.html' %}
                                </div>

                                {% include 'expert_mode_table.html' %}

                            </div><!-- end card/expert  mode holder -->

                            <!-- add/remove resource/gear from storage -->
                            <div
                                class="kd worksheet_row"
                                ng-click="
                                    s_type.total = undefined;
                                    s_type.keywords = undefined;
                                "
                            >

                                <button
                                    class="kd capsule blue"
                                    ng-click="
                                        loc.inventory.push(asset.handle);
                                        asset.quantity = asset.quantity + 1;
                                        postJSONtoAPI(
                                            'settlement', 'set_storage', settlement.sheet._id.$oid,
                                            {
                                                'storage': [
                                                    {'handle': asset.handle, 'value': asset.quantity},
                                                ],
                                            },
                                            false, true, false
                                        );
                                    "
                                > + </button>

                                <button
                                    class="kd capsule"
                                    ng-disabled="asset.quantity === 0"
                                    ng-class="{'pink': asset.quantity > 0}"
                                    ng-click="
                                        loc.inventory.splice(loc.inventory.indexOf(asset.handle), 1);
                                        asset.quantity = asset.quantity - 1;
                                        postJSONtoAPI(
                                            'settlement', 'set_storage', settlement.sheet._id.$oid,
                                            {
                                                'storage': [
                                                    {'handle': asset.handle, 'value': asset.quantity},
                                                ],
                                            },
                                            false, true, false
                                        );
                                    "
                                > - </button>

                            </div>

                        </div><!-- asset detail roller -->

                    </div><!-- asset repeater -->

                </div> <!-- location roller -->

            </div> <!-- storage_location -->

        </div> <!-- storage_type -->

    </div> <!-- #editStorage ; storage_modal container -->

    <div class="kd worksheet_block borderless" ng-if="settlementStorage">
        <button
            class="kd capsule yellow full_width"
            ng-click="loadStorage(true)"
        >
            Reload storage
        </button>
    </div>

</div> <!-- settlement sheet Storage tab ENDS here -->
