<div
    class="modal hidden"
    id="survivorSheet"
    ng-if="ngVisible['survivorSheet']"
    ng-controller="survivorSheetController"
    ng-init="survivor = settlement.viewSurvivor"
    ng-click="ngHide('survivorSheet')"
>
    <div class="modal-content survivor_sheet" ng-click="$event.stopPropagation()">

        <div class="kd worksheet_block survivor_sheet">

            {% include '/survivor_sheet/left_column.html' %}
            {% include '/survivor_sheet/right_column.html' %}

        </div> <!-- kd worksheet_block that holds the columns -->

        <div class="kd worksheet_block survivor_sheet">
            
            {% include '/survivor_sheet/bottom_left_column.html' %}
            {% include '/survivor_sheet/bottom_right_column.html' %}

        </div>

    </div> <!-- kd_sheet_ui_outer_ring_container -->

    <button
        class="kd capsule full_width floating_close_modal_button"
        ng-click="ngHide('survivorSheet')"
    >
        Close
    </button>

</div> <!-- modal newSurvivorModal-->
