<div
    class="modal hidden"
    id="survivorSheet"
    ng-if="ngVisible['survivorSheet']"
    ng-init="survivor = settlement.viewSurvivor"
    ng-click="ngHide('survivorSheet')"
>
    <div class="modal-content" ng-click="$event.stopPropagation()">

        <div class="kd worksheet_block">

            {% include 'survivor_sheet/left_column.html' %}
            {% include 'survivor_sheet/right_column.html' %}

        </div><!-- kd worksheet_block that holds the columns -->

        <div class="kd worksheet_block">
            <div
                contentEditable="true"
                ng-init="scratch.survivorOriginalEmail = survivor.sheet.email"
                ng-model="survivor.sheet.email"
                ng-placeholder="email"
            >
            </div>
            <button
                class="kd capsule blue"
                ng-if="scratch.survivorOriginalEmail !== survivor.sheet.email"
                ng-click="
                    ngShow('fullPageLoader');
                    postJSONtoAPI(
                        'survivor', 'set_email', survivor.sheet._id.$oid,
                        {'email': survivor.sheet.email},
                        true, true, false
                    );
                "
            >
                Save
            </button>
        </div>

    </div> <!-- kd_sheet_ui_outer_ring_container -->

    <button
        class="kd capsule full_width floating_close_modal_button"
        ng-click="ngHide('survivorSheet')"
    >
        Close
    </button>

</div> <!-- modal newSurvivorModal-->
