<!--

    A&I controls

-->

<div class="survivor_sheet asset_list_box">

    <div class="title_bar">
        <div class="title">
            Abilities & Impairments
        </div>
        <div
            class="lockbox clickable"
            ng-click="
                survivor.sheet.skip_next_hunt = !survivor.sheet.skip_next_hunt;
                postJSONtoAPI(
                    'survivor', 'set_status_flag', survivor.sheet._id.$oid,
                    {
                        'flag': 'skip_next_hunt',
                        'value': survivor.sheet.skip_next_hunt
                    },
                    false, true, true
                );
            "
        >
            <div
                class="kd checkbox tiny"
                ng-class="{'checked': survivor.sheet.skip_next_hunt}"
            >
            </div>
            <span class="kdm_manager_font">l</span>
            Skip Next Hunt
        </div>
    </div>

    <!-- A&I clickers -->
    <div
        class="clickable hover_highlight kd worksheet_row lined"
        title="
            {a asset.name a} {a asset.pretty_sub_type a}.
            Tap or click to manage.
        "
        ng-if="!survivor.sheet.aiLoading"
        ng-click="ngShow(aiController)"
        ng-repeat="ai in survivor.sheet.abilities_and_impairments track by $index"
        ng-init="
            asset = settlement.game_assets.abilities_and_impairments[ai];
            aiController = survivor.sheet._id.$oid + 'AbilityImpairmentController' + asset.handle + $index;
        "
    >

        <i
            ng-class="{'kd_red_text': asset.constellation}"
        >
            {a asset.name a}
        </i>

    </div>

    <!-- blank lines -->
    <span
        ng-if="!survivor.sheet.aiLoading"
        class="font_tiny"
        ng-repeat="ai in range(7 - survivor.sheet.abilities_and_impairments.length)"
    >
        &nbsp;
        <hr />
    </span>

    <!-- A&I selector -->
    <select
        class="kd capsule full_width"
        ng-disabled="survivor.sheet.aiLoading"
        ng-model="newAi"
        ng-change="
            survivor.sheet.aiLoading = true;
            postJSONtoAPI(
                'survivor', 'add_game_asset', survivor.sheet._id.$oid,
                {'type': 'abilities_and_impairments', 'handle': newAi},
                false, true, true
            );
            newAi = undefined;
        "
        ng-options="
            ai.handle as ai.selector_text
            disable when ai.selectable === false
            for ai in settlement.game_assets.abilities_and_impairments
        "
    >

        <option value="" disabled selected>Add Abilities & Impairments</option>

    </select>

    <!-- controller -->
    <div
        ng-repeat="aiHandle in survivor.sheet.abilities_and_impairments track by $index"
        ng-init="
            ai = settlement.game_assets.abilities_and_impairments[aiHandle];
            aiController = survivor.sheet._id.$oid + 'AbilityImpairmentController' + ai.handle + $index;
        "
    >
        <div
            id="{a aiController a}"
            class="modal hidden ng_fadeout"
            ng-if="ngVisible[aiController]"
            ng-click="ngHide(aiController);"
        >
            <div
                class="modal-content survivor_sheet_card_controls"
                ng-click="$event.stopPropagation();"
            >
                <div
                    class="clickable corner_close_modal"
                    ng-click="ngHide(aiController)"
                >
                </div>

                <div
                    class="game_asset_card_and_expert_mode_container"
                    ng-init = "asset = settlement.game_assets.abilities_and_impairments[aiHandle]"
                >
                    {% include 'cards/abilities_and_impairments.html' %}
                    {% include 'expert_mode_table.html' %}
                </div>

                <button
                    class="kd capsule pink full_width"
                    ng-click="
                    survivor.sheet.aiLoading = true;
                    postJSONtoAPI(
                        'survivor', 'rm_game_asset', survivor.sheet._id.$oid,
                        {'type': 'abilities_and_impairments', 'handle': ai.handle},
                        false, true, true
                    );
                    "
                >
                    Remove
                </button>

                <button
                    class="kd capsule full_width"
                    ng-click="ngHide(aiController);"
                >
                    Close
                </button>

            </div> <!-- modal content -->
        </div>
    </div>


</div><!-- AI container outer / bottom -->
