<!-- 

    survivor sheet hunt XP controls

-->

<div
    class="survivor_sheet_hunt_xp_container"
    ng-init="
        huntXPControlDiv = survivor.sheet._id.$oid + 'HuntXPControlDiv';
        survivorAttributeRollers.push(huntXPControlDiv);
    "
>
    <div
        class="clickable font_small survivor_sheet_hunt_xp"
        ng-click="ngRoll(huntXPControlDiv, survivorAttributeRollers)"
    >
        <div class="label">Hunt XP</div>
        <div
            class="kd checkbox"
            ng-repeat="box in range(15)"
            ng-class="{
                'checked': survivor.sheet.hunt_xp >= box,
                'heavy': [1,5,9,14].indexOf(box) >= 0,
            }"
        >
        </div>
        <div
            class="kd checkbox"
            ng-class="{
                'dotted': survivor.sheet.hunt_xp < 15,
                'checked': survivor.sheet.hunt_xp >= 15,
            }"
        >
        </div>
    </div>

    <div class="horizontal_rule"></div>

    <div class="font_small caption survivor_sheet_hunt_xp_tool_tip">
        <div
            class="survivor_sheet_tool_tip_repeater"
            ng-repeat="ageMilestone in [
                {'boxes': 1, 'xp': 1},
                {'boxes': 2, 'xp': 5},
                {'boxes': 3, 'xp': 9},
                {'boxes': 4, 'xp': 14}
            ]"
        >
            <div
                class="kd checkbox tiny"
                ng-repeat="box in range(ageMilestone.boxes)"
                ng-class="{'checked': survivor.sheet.hunt_xp >= ageMilestone.xp}"
            >
            </div>
            <font class="kdm_manager_font">S</font> Age
        </div>
        <div
            class="survivor_sheet_tool_tip_repeater"
        >
            <div
                class="kd checkbox"
                ng-class="{
                    'dotted': survivor.sheet.hunt_xp < 15,
                    'checked': survivor.sheet.hunt_xp >= 15,
                }"
            >
            </div>
            Retired
        </div>
    </div><!-- survivor_sheet_hunt_xp_tool_tip -->

    <!-- roller -->
    <div
        id="{a huntXPControlDiv a}"
        class="roll_down_container rolled_up"
        ng-class="{'rolled_down': ngRolledUp[huntXPControlDiv] === false}"
    >

        <button
            class="kd capsule blue full_width"
            ng-click="
                survivor.sheet.hunt_xp = survivor.sheet.hunt_xp + 1;
            "
        >
            &#x25B2;
        </button>

        <button
            class="kd capsule blue full_width"
            ng-disabled="survivor.sheet.hunt_xp === 0"
            ng-click="
                survivor.sheet.hunt_xp = survivor.sheet.hunt_xp - 1;
            "
        >
            &#x25BC;
        </button>

        <button
            class="kd capsule blue full_width"
            ng-click="
                ngRoll(huntXPControlDiv, survivorAttributeRollers);
                postJSONtoAPI(
                    'survivor', 'set_attribute', survivor.sheet._id.$oid,
                    {'attribute': 'hunt_xp', 'value': survivor.sheet.hunt_xp},
                    false, true, true
                );
            "
        >
            Save & close
        </button>

    </div>
    <!-- end roller -->

</div><!-- container -->
