<!--

    survivor sheet left column
    
-->

<div class="kd survivor_sheet worksheet_column">

    <div
        class="kd survivor_sheet name_and_sex_container"
    >

        {% include 'survivor_sheet/name.html' %}
        {% include 'survivor_sheet/sex.html' %}

    </div><!-- name_and_sex_container -->

    {% include '/survivor_sheet/survival.html' %}
    {% include '/survivor_sheet/attributes.html' %}
    {% include '/survivor_sheet/damage_boxes.html' %}

</div> <!-- left column ends -->
