<!--


    DO NOT SET DEFAULT NEW SURVIVOR VALUES OUTSIDE OF THE MODAL INIT

-->


<div
    class="modal hidden"
    id="newSurvivorModal"
    ng-if="ngVisible['newSurvivorModal']"
    ng-init="
        ngShow('newSurvivorCreationControls');
        newSurvivorObject = {
            settlement: settlement.sheet._id.$oid,
            email: currentUser.login,
            sex: 'R',
            origin: 'new',
            public: false,
        };
    "
>

    <div class="kd_sheet_ui_outer_ring_container">
   
        <!--
        <div class="kd_sheet_ui_inner_ring_container">
            <div ng-repeat="(key, value) in newSurvivorObject">
                {a key a}: {a value a}
            </div>
        </div>
        -->

        <div class="kd_sheet_ui_inner_ring_container">

            <!-- new survivors preview/links -->
            <div
                id="newSurvivorLinkHolder"
                ng-if="newSurvivorObject.newSurvivors.length > 0"
            >

                <div ng-repeat="survivor in newSurvivorObject.newSurvivors">

                    {% include 'survivor_search/survivor_card.html' %}
    
                </div>

            </div> <!-- newSurvivorLinkHolder kd.worksheet_block -->


            <!-- new survivor creation loader block -->
            <div
                id="newSurvivorCreationLoader"
                class="inline_spinner_container"
                ng-if="ngVisible['newSurvivorCreationLoader']"
            >
                <img src="/static/media/loading_lantern.gif">
                <div><!-- tool tip? --></div>
                <div>Creating new survivor...</div>
            </div>


        <!-- new survivor creation controls -->
        <div
            id="newSurvivorCreationControls"
            ng-if="ngVisible['newSurvivorCreationControls']"
            class="hidden"
        >

            <div
                class="kd worksheet_row lined font_large silverado"
                ng-blur="setNewSurvivorName()"
                ng-model="newSurvivorObject.name"
                contentEditable="true"
                placeholder="Name"
            />
            </div>

            <div
                class="kd worksheet_block"
            >
                <h3 class="kd title">Sex</h3>
                <div
                    class="kd worksheet_row"
                    ng-repeat="
                        sexOption in [
                            {'name': 'Male', 'value': 'M'},
                            {'name': 'Female', 'value': 'F'},
                            {'name': 'Random', 'value': 'R'},
                        ];
                    "
                    ng-click="newSurvivorObject.sex = sexOption.value"
                >
                    <div
                        class="kd checkbox"
                        ng-class="{'checked': newSurvivorObject.sex === sexOption.value}"
                    >
                    </div>
                    <div class="kd checkbox_desc">{a sexOption.name a}</div>
                </div>
            </div><!-- end SEX -->


            <!-- origin / parents -->
            <div
                class="kd worksheet_block"
            >
                <h3 class="kd title"> Origin </h3>
                <p
                    class="kd_sheet_ui_row_tip"
                    ng-if="currentUser.preferences.show_ui_tips"
                >
                    Bonuses and effects that apply to 'newborn' survivors are
                    automatically applied by the Manager if the is born in the
                    settlement.
                </p>
                
                <!-- origin selector -->
                <div
                    class="kd worksheet_row"
                    ng-repeat="
                        originOption in [
                            {'name': 'New', 'value': 'new'},
                            {'name': 'Newborn', 'value': 'newborn'},
                        ];
                    "
                    ng-click="newSurvivorObject.origin = originOption.value"
                >
                    <div
                        class="kd checkbox"
                        ng-class="{'checked': newSurvivorObject.origin === originOption.value}"
                    >
                    </div>
                    <div class="kd checkbox_desc">{a originOption.name a}</div>
                </div>

                <!-- parents selectors -->
                <div class="kd worksheet_row"
                    ng-if="newSurvivorObject.origin === 'newborn'"
                    ng-repeat="
                        parentOption in [
                            {
                                name: 'father',
                                type: 'male',
                            },
                            {
                                name: 'mother',
                                type: 'female',
                            },
                        ]
                    "
                >
                    <select
                        name="{a parentOption.name a}"
                        class="kd capsule full_width"
                        ng-model="newSurvivorObject[parentOption.name]"
                        ng-options="survivor._id.$oid as survivor.name for survivor in settlement.eligible_parents[parentOption.type]"
                    />
                        <option
                            selected disabled value=""
                            name="{a parentOption.name a}"
                        >
                            {a parentOption.name a}
                        </option>
                    </select>
                </div>

                <!-- inheritance -->
                <div
                    ng-if="
                        settlement.sheet.innovations.indexOf('family') != -1
                    "
                    ng-init="newSurvivorObject.primary_donor_parent = 'father'"
                >

                    <p
                        class="kd_sheet_ui_row_tip"
                        ng-if="currentUser.preferences.show_ui_tips"
                    >
                        A newborn survivor inherits the surname of one parent,
                        their weapon type and half (rounded down) of their
                        weapon proficiency levels:
                    </p>

                    <div
                        class="clickable kd worksheet_row"
                        ng-repeat="parentType in ['father','mother']"
                        ng-click="newSurvivorObject.primary_donor_parent = parentType"
                    >
                        <div
                            class="kd checkbox"
                            ng-class="{
                                'checked': newSurvivorObject.primary_donor_parent === parentType},
                            "
                        ></div>
                        <div class="kd checkbox_desc capitalize">
                            {a parentType a}
                        </div>
                    </div>

                </div> <!-- inheritance -->

            </div><!-- end ORIGIN -->


            <!-- access -->
            <div class="kd worksheet_block">
                <h3 class="kd title">Access</h3>
                <p
                    class="kd_sheet_ui_row_tip"
                    ng-if="currentUser.preferences.show_ui_tips"
                >
                    Enter the email address of the registered user who will be
                    responsible for the new survivor.
                </p>

                <input
                    type="email"
                    class="capsule yellow full_width"
                    ng-model="newSurvivorObject.email"
                    placeholder="email"
                    onclick="this.select()"
                />

                <p
                    class="kd_sheet_ui_row_tip"
                    ng-if="currentUser.preferences.show_ui_tips"
                >
                    Check the box below to mark this survivor <b>Public</b>,
                    which will allow any player in the campaign to manage
                    this survivor.
                </p>

                <div
                    class="kd worksheet_row"
                    ng-click="
                        newSurvivorObject.public = !newSurvivorObject.public
                    "
                >
                    <div
                        class="kd checkbox"
                        ng-class="{'checked': newSurvivorObject.public}"
                    >
                    </div>
                    <div class="kd checkbox_desc">
                        Public
                    </div>
                </div>
            </div><!-- end ACCESS -->

            <!-- avatar -->
            <div class="kd worksheet_block">
                <h3 class="kd title">Survivor Avatar</h3>
                <div class="kd worksheet_row lined">
                    <input
                        id="newSurvivorAvatarInput"
                        type="file"
                        class="new_survivor_avatar"
                        accept="image/*"
                        custom-on-change="setAvatar"
                    />
                </div>
            </div><!-- end AVATAR -->

            </div><!-- newSurvivorCreationControls -->

            <!-- buttons -->
            <button
                class="kd capsule blue full_width"
                ng-if="!ngVisible['newSurvivorCreateAnotherButton']"
                ng-disabled="!newSurvivorObject.email"
                ng-click="
                    createSurvivor(newSurvivorObject);
                "
            >
                Create {a newSurvivorObject.name a}
            </button>

            <button
                id="newSurvivorCreateAnotherButton"
                class="kd capsule blue full_width"
                ng-if="ngVisible['newSurvivorCreateAnotherButton']"
                ng-click="
                    ngShow('newSurvivorCreationControls');
                    ngHide('newSurvivorCreateAnotherButton')
                "
            >
                Create another!
            </button>

        </div> <!-- kd_sheet_ui_inner_ring_container -->

    </div> <!-- kd_sheet_ui_outer_ring_container -->


    <button
        class="kd_kickstarter_button floating_close_modal_button"
        ng-click="ngHide('newSurvivorModal')"
    >
        Close
    </button>

</div> <!-- modal newSurvivorModal-->
