<!--

    Survivor Search; new in v4 (based on/inspired by legacy)

-->

<div
    class="modal hidden"
    id="survivorSearch"
    ng-if="ngVisible['survivorSearch']"
    ng-click="ngHide('survivorSearch')"
>
    <div class="modal-content">

        <div
            ng-repeat="survivor in settlement.user_assets.survivors"
            class="clickable kd worksheet_block"
            ng-click="
                $event.stopPropagation();
                settlement.viewSurvivor = survivor;
                ngHide('survivorSearch');
                ngShow('survivorSheet');
            "
        >

            <div
                class="kd survivor_sheet name_and_sex_container"
            >
                <div class="name">
                    {a survivor.sheet.name a}
                </div>

                <div class="sex">
                    <div
                        class="repeater"
                        ng-repeat="sex in ['M','F']"
                    >
                        <div>{a sex a}</div>
                        <div
                            class="kd checkbox"
                            ng-class="{'checked': sex === survivor.sheet.sex }"
                        >
                        </div>
                    </div>
                </div>

                <div class="horizontal_rule"></div>

                <div
                    class="font_small"
                    ng-if="settlement.user_assets.players.length > 1"
                >
                    {a survivor.sheet.email a}
                </div>

                <!-- stats repeater -->
                <div class="font_small kd worksheet_row spaced">
                    <span
                        ng-repeat="
                            attrib in [
                                {'label': 'Hunt XP', 'key': 'hunt_xp'},
                                {'label': 'Courage', 'key': 'Courage'},
                                {'label': 'Understanding', 'key': 'Understanding'},
                            ]
                        "
                    >
                        <b>{a attrib.label a}:</b> {a survivor.sheet[attrib.key] a}
                    </span>
                </div>

                <div class="kd worksheet_row spaced">
                    <span
                        ng-repeat="attr in [
                        {short: 'MOV', long: 'Movement'},
                        {short: 'ACC', long: 'Accuracy'},
                        {short: 'STR', long: 'Strength'},
                        {short: 'EVA', long: 'Evasion'},
                        {short: 'LUCK', long: 'Luck'},
                        {short: 'SPD', long: 'Speed'},
                    ]"
                        class="survivor_search_attrib_container {a attr.long a}"
                    >
                        <span>{a survivor.sheet[attr.long] a}</span>
                        <b class="font_small">{a attr.short a}</b>
                    </span>
                </div>

            </div><!-- name_and_sex_container -->

        </div>

    </div> <!-- kd_sheet_ui_outer_ring_container -->

    <button
        class="kd capsule full_width floating_close_modal_button"
        ng-click="ngHide('survivorSearch')"
    >
        Close
    </button>

</div> <!-- modal newSurvivorModal-->
