<!--
		START loaders
-->

<div
    ng-if="ngVisible['cornerSpinner']"
    id="cornerSpinner"
    class="hidden ng_fade corner_loading_spinner"
>
    <img src="/static/media/loading_io.gif">
</div>

<div
    ng-if="ngVisible['fullPageLoader']"
    id="fullPageLoader"
    class="hidden full_page_modal_blocker"
>
    <img src="/static/media/loading_io.gif" class="full_page_loading_spinner"/>
</div>

<!-- 
    END loaders
-->


<!--
	START alerts
-->
<div
    id="capsuleAlertFlasher"
    class="hidden ng_fadeout kd capsule_alert capsule_outer"
    ng-if="ngVisible['capsuleAlertFlasher']"
>
    <div class="capsule_inner">
        <div
            class="kd short font_large {a ngCapsuleAlert.style a}_text"
        >
            {a ngCapsuleAlert.letter a}
        </div>
        <div
            class="kd long {a ngCapsuleAlert.style a}"
        >
            {a ngCapsuleAlert.text a}
        </div>
    </div>
</div>

<!-- 
    END alerts
-->


<!--
	START errors
-->
<div
    id="apiErrorModal"
    class="hidden ng_fadeout modal error"
    ng-if="ngVisible['apiErrorModal']"
    ng-click="ngHide('apiErrorModal')"
>

    <div class="modal-content" ng-click="$event.stopPropagation()">
        <div
            class="corner_close_modal"
            ng-click="ngHide('apiErrorModal')"
        >
        </div>
        
        <h3 class="kd title">Error {a apiError.status a}</h3>

        <div class="kd worksheet_row lined ">{a apiError.response a}</div>

        <p>
            If you would like to report this error, there are
            a number of options:
        </p>
        
        <div class="kd worksheet_row">
            <div class="kd checkbox checked"></div>
            <div class="kd checkbox_desc">
                Use the button below to report the error directly.
            </div>
        </div>
        <div class="kd worksheet_row">
            <div class="kd checkbox checked"></div>
            <div class="kd checkbox_desc">
                If you use GitHub, you may  
                <a href="https://github.com/theLaborInVain/kdm-manager/issues">
                 log the issue there</a>.
            </div>
        </div>

        <p>
            Otherwise, click the "Continue..." button to return to the Manager.
        </p>

        <button
            class="kd capsule pink full_width"
            ng-click="
                ngHide('apiErrorModal');
                ngShow('modalReportError');
            "
        >
            Report
        </button>

        <button
            class="kd capsule full_width"
            ng-click="ngHide('apiErrorModal')"
        >
            Continue...
        </button>

    </div>

</div>


<div
    id="accessDeniedModal"
    class="hidden ng_fadeout modal error"
    ng-if="ngVisible['accessDeniedModal']"
    ng-click="ngHide('accessDeniedModal')"
>

    <div class="modal-content access_denied kd_red">

        <h1 class="login_splash">Access Denied</h1>
        <h2 class="login_splash">Write permission required</h2>

        <p>
            You have attempted to modify a record that you do
            not have permission to modify.
        </p>
        <p>
            If you did not create this settlement, <b>you may not update
            the settlement sheet or any survivors that you did not create</b>.
            To change this, ask the settlement's creator to make you a
            <i>Settlement Administrator</i>.
        </p>
        <p>
            Otherwise, if you believe you are receiving this message in error,
            please use the button below to report it.
        </p>

        <button
            class="kd capsule silver full_width"
            ng-click="ngHide('accessDeniedModal')"
        >
            OK...
        </button>

        <button
            class="kd capsule yellow full_width"
            ng-click="
                $event.stopPropagation();
                ngHide('accessDeniedModal');
                ngShow('modalReportError')
            "
        >
            Report issue
        </button>

    </div> <!-- modal-content -->

</div>
